/*
* {
    border: 1px dashed black;
}
*/

body {
    background-color: #ECEFF4;
}

header, main, footer {
    margin-left: 1in;
    margin-right: 1in;
}

/*----------------------------------------------------------*/
.header-wanted, .main, .footer {
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgb(244,241,236);
    border-right: 5px solid black;
    border-left: 5px solid black;
}

.header-wanted {
    margin-top: 15px;
    border-top: 5px solid black;
}

.footer {
    border-bottom: 5px solid black;
}

.header-wanted img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0px;
   width: 90%;
}

.header-wanted h1 {
    font-size: 200px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Stencil Std, fantasy;
}
/*----------------------------------------------------------*/

.main img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0px;
   width: 80%;
   height: auto;
   padding: 15px;
   border-right: 2px solid black;
   background: black;
}

/*----------------------------------------------------------*/

.footer h2 {
    padding-top: 20px;
    padding-right: 20px;
    margin-top: 0px;
    font-family: Stencil Std, fantasy;
    text-align: center;
    font-size: 70px;
    display: block;
}