:root {
    --ebmRed: rgb(128, 0, 0);
    --dark-grey: rgb(105, 105, 105);
}

/* Header ---------------------------------------------- */

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: url('/bacs200/images/ebm/bikes-mtn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead h1 {
    font-size: 2.25rem;
}

header.masthead img {
    width: 730px;
    height: 239px;
}

.main-image {
    margin-bottom: 200px;
}


@media (min-width: 700px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 72px;
        padding-bottom: 0;
    }

    header.masthead p {
        font-size: 1.15rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        width: 730px;
        height: 239px;
    }
}

/* About ---------------------------------------------- */

#about {
    background: var(--dark-grey);
}

#about h2 {
    -webkit-text-stroke: 2px black;
    color: var(--ebmRed);
}

#about h4 {
    margin-bottom: 10px;
}

#about .break {
    border: 1px solid var(--ebmRed);
    margin-left: 35spx;
    margin-right: 35px;
}

/* Help --------------------------------------------------*/

#help h2 {
    -webkit-text-stroke: 2px var(--ebmRed);
    color: black;

}

/* Gallery -----------------------------------------------*/

#gallery {
    background-color: black;
}

#gallery h2 {
    color: var(--ebmRed);
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

/* Contact ------------------------------------------------*/

#contact {
    background: var(--dark-grey);
}

#contact h2 {
    -webkit-text-stroke: 2px var(--ebmRed);
    color: white;

}

#contact label {
    color: var(--ebmRed);
}

#contact input {
    background: var(--dark-grey);
    border: 2px solid var(--ebmRed);
    color: var(--ebmRed);
}

.message-input {
    height: 100px;
}
